.disciplinesCardsListWrapper {
  @extend %centered-flex-row;

  width: 100%;
  margin-top: 10px;
}

.disciplinesCardsList {
  width: 42.5%;
  height: 100%;
  margin-left: 15px;
  overflow-y: scroll;
  height: calc(100vh - 350px);
}

.disciplinesCardsListItem {
  width: 100%;
  margin-top: 10px;
}
