%default-font {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Nanum Gothic Coding", monospace;
}

%default-flex-dashboard {
  display: flex;
  flex-grow: 1;
}

%centered-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%centered-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
