* {
  box-sizing: border-box;
}

html {
  @extend %default-flex-dashboard;

  height: 100%;
  width: 100%;
}

body {
  @extend %default-flex-dashboard;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

hr {
  margin: 0;
}

button {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
