* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}
