.header {
  @extend %centered-flex-row;

  width: 100%;
  background: $primary-brand-color;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 10px;
  position: sticky;
  top: 0;
}

.headerOptionsWrapper {
  display: flex;
  justify-content: center;
}
