.button {
  cursor: pointer;
  border: solid 1px $thirdly-brand-color;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;

  &:hover {
    transition: 0.4s;
    transform: scale(1.15);
  }
}

.submit {
  background: $highlight-brand-color;
  color: $primary-brand-color;
  border-color: $primary-brand-color;
}

.cancel {
  background: $secondary-brand-color;
  color: $primary-brand-color;
  border-color: $primary-brand-color;
}

.add {
  background: $secondary-brand-color;
  color: $primary-brand-color;
  border-color: $primary-brand-color;

  & > i {
    margin: 5px 5px 0 0;
  }
}

.edit {
  border-color: $highlight-brand-color;
  background: $highlight-brand-color;
  color: $primary-brand-color;
}

.delete {
  border-color: $highlight-brand-color;
  background: $primary-brand-color;
  color: $highlight-brand-color;
}
