.button {
  padding: 10px;
}

.submit {
  background: $thirdly-brand-color;
  color: $secondary-brand-color;
}

.edit {
  background: $highlight-brand-color;
  color: $primary-brand-color;
}

.delete {
  background: $primary-brand-color;
  color: $secondary-brand-color;
}
