.disciplineCard {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  border-radius: 10px;
  background: $primary-brand-color;
}

.disicplineName {
  width: 70%;
  color: $secondary-brand-color;
}

.actionsSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionWrapperButton {
  margin: 5px;
}
