.authSectionWrapper {
  height: 80%;
  margin-bottom: 17px;
}

.signInWrapper {
  @extend %centered-flex-column;

  padding: 20px;
  color: $secondary-brand-color;
  background: $primary-brand-color;
  cursor: pointer;
  font-size: 1.1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &:hover {
    transition: 0.5s;
    background: $secondary-brand-color;

    .signUpParagraph {
      color: $primary-brand-color;
    }
  }
}

.signUpParagraph {
  margin: 0px;
  color: $secondary-brand-color;
}

.selected {
  transition: 0.5s;
  background: $secondary-brand-color;

  .signUpParagraph {
    color: $primary-brand-color;
  }
}
