.scheduleDiscipline {
  width: 70%;
  color: $secondary-brand-color;
}

.scheduleGroup {
  width: 70%;
  color: $secondary-brand-color;
}

.scheduleTime {
  width: 70%;
  color: $secondary-brand-color;
}

.scheduleClassroom {
  width: 70%;
  color: $secondary-brand-color;
}

.scheduleTeacher {
  width: 70%;
  color: $secondary-brand-color;
}
