.headerOption {
  padding: 20px;
  background: $primary-brand-color;
  cursor: pointer;
  font-size: 1.1rem;
  @extend %centered-flex-column;

  &:hover .underline {
    opacity: 1;
    transition: 0.5s;
    width: 100%;
  }
}

.link {
  color: $secondary-brand-color;
}

.underline {
  margin-top: 7.5px;
  width: 0%;
  color: $secondary-brand-color;
  border-width: 1px;
  opacity: 0;
}

.selected {
  background: $secondary-brand-color;

  & .link {
    color: $primary-brand-color;
  }

  & .underline {
    border-color: $primary-brand-color;
    width: 100%;
    opacity: 1;
  }
}
