.grantsDashboard {
  @extend %centered-flex-column;

  width: 100%;
  background: $secondary-brand-color;
}

.unableToCreateGrantInfoBlock {
  @extend %centered-flex-column;
  width: 80%;
}

.toggleGrantFormButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

.grantsSectionsSeparator {
  width: 60%;
  border-color: $primary-brand-color;
}
