.headerOption {
  padding: 20px;
  background: $primary-brand-color;
  color: $secondary-brand-color;
  cursor: pointer;
  @extend %centered-flex-column;

  &:hover .underline {
    transition: 0.5s;
    width: 100%;
  }
}

.underline {
  width: 0%;
  color: $secondary-brand-color;
}
