.inputWrapper {
  width: 100%;
}

.input {
  width: 100%;
  min-height: 40px;
  margin: 2.5px 0 2.5px 0;
  border-radius: 10px;
  font-size: 1.25rem;

  &:focus {
    transition: 50ms;
    border: solid 2px $primary-brand-color;
  }
}

.inputLabel {
  padding-left: 10px;
}

.errorLabel {
  color: $highlight-brand-color;
}
