.grantUpdateForm {
  @extend %centered-flex-row;

  margin-right: 10px;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  background: $primary-brand-color;
}

.grantUpdateActionSectionWrapper {
  @extend %centered-flex-column;

  width: 100%;
}

.grantEditFieldsWrapper {
  @extend %centered-flex-column;

  width: 100%;
}

.grantedFullName {
  color: $secondary-brand-color;
}

.grantEditSelectWrapper {
  width: 95%;
  margin-top: 5px;
}

.grantActionButtonsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0 10px 0;
}
