.groupCreationForm {
  @extend %centered-flex-column;

  background: $primary-brand-color;
  color: $secondary-brand-color;
  padding: 15px;
  border-radius: 10px;
}

.selectWrapper {
  width: 100%;
  margin-top: 5px;

  & label {
    color: $secondary-brand-color;
  }
}

.groupCreationFormActionSection {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
