.teacherUpdateForm {
  @extend %centered-flex-row;

  margin-right: 10px;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  background: $primary-brand-color;
}

.teacherUpdateActionSectionWrapper {
  @extend %centered-flex-column;

  width: 100%;
}

.teacherEditFieldsWrapper {
  @extend %centered-flex-column;

  width: 100%;
}

.teacherFullName {
  color: $secondary-brand-color;
}

.teacherEditSelectWrapper {
  width: 95%;
  margin-top: 5px;
}

.teacherActionButtonsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0 10px 0;
}
