.departmentsDashboard {
  @extend %centered-flex-column;

  width: 100%;
  background: $secondary-brand-color;
}

.unableToCreateUserInfoBlock {
  @extend %centered-flex-column;
}

.toggleUserFormButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

.usersSectionsSeparator {
  width: 60%;
  border-color: $primary-brand-color;
}
